.gradient-form {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: #eee;
}

.login-card {
  overflow: hidden;
}

.login-logo {
  width: 60px;
}

.gradient-custom-2 {
  background: var(--spectrumColor1);
  background: linear-gradient(
    to right,
    var(--spectrumColor1),
    var(--spectrumColor2)
  );
}

.forgot-link {
  color: var(--mutedText);
}
